.home {
	background: #f8d8dd;
	font-family: courier;
	font-size: 15;
}
.facebook {
	background: #f8d8dd;
	font-family: courier;
	font-size: 15;
}
.patrimonio {
	background: #f8d8dd;
	font-family: courier;
	font-size: 15;
}
