.home {
	background: #f8d8dd;
	font-family: ariel;
	font-size: 25;
}
.facebook {
	background: #f8d8dd;
	font-family: courier;
	font-size: 25;
}
.patrimonio {
	background: #f8d8dd;
	font-family: courier;
	font-size: 25;
}
